* {
    font-family: "josefin Sans";
    margin: 0;
    list-style: none;
    background-color: #0A152B;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

::-webkit-scrollbar {
    display: none;
}

.primary-header p {
    padding-left: 1.5rem;
    font-size: 1.5rem;
    background-color: #0D1D36;
}

.breslin {
    color: #F95454;
    background-color: #0D1D36;
}

.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0D1D36;
    color: white;
    height: 4rem;
}

.mobile-nav-toggle {
    display: none;
}

.mobile-nav-toggle:hover {
    cursor: pointer;
    height: fit-content;
}

.primary-navigation {
    padding: 0 4rem 0 0;
    display: flex;
    align-items: left;
    font-size: 20px;
    gap: 3rem;
    background-color: #0D1D36;
}

.primary-navigation a {
    transition: all .5s;
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.primary-navigation a:hover {
    color: black;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.primary-navigation li {
    background-color: transparent;
}


.mainBg {
    height: 80vh;
    background-color: #0A152B;
    color: white;
    margin-top: 10rem;
    margin-left: 9rem;
}

#home {
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    font-size: 8rem;
    line-height: 8rem;
}

.title span {
    color: #F95454;
}

.titleDesc {
    color: rgba(255, 255, 255, 0.517);
    width: 40%;
    padding-top: 1rem;
    font-size: 1.5rem;
    line-height: 3rem;
}

.button {
    background-color: #F95454;
    border: none;
    padding: .75rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color: white;
    width: 10rem;
}

.mainAbout {
    height: 120vh;
    border: 2px solid skyblue;
    color: white;
    padding-top: 5rem;
    display: flex;
}

.about {
    width: 90%;
    height: 100%;
    position: relative;
    left: 5%;
}

.about p {
    font-size: 50px;
    line-height: 50px;
}

.about p:nth-child(1) {
    color: pink;
}
.about p:nth-child(2) {
    color: white;
}
.about p:nth-child(3) {
    color: red;
}





.mainProjects {
    height: 60vh;
    padding-top: 15rem;
    
    color: white;
    display: flex;
    justify-content: center;
    gap: 5rem;
    overflow: hidden;
}

.webDevProject {
    height: 20rem;
    width: 15rem;
    position: relative;
    transition: 0.75s;
}

.webDevProject:hover {
    cursor: pointer;
    margin: 0 10rem 0 10rem;
    transform: translate(30%);
}

.webDevProject:hover > .Project:nth-child(2) {
    transform: translate(-30%, -30%) rotate(-5deg);
}
.webDevProject:hover > .Project:nth-child(3) {
    transform: translate(-60%, -20%) rotate(-20deg);
}
.webDevProject:hover > .Project:nth-child(4) {
    transform: translate(-90%) rotate(-25deg);
}

.Project {
    height: 20rem;
    width: 15rem;
    position: relative;
    transition: transform .75s;
    border-radius: 2rem;
}

.Project:nth-child(1) {
    background-color: aqua;
    z-index: 100;
    transition: 0.75s;
}
.Project:nth-child(2) {
    background-color: greenyellow;
    top: -100%;
    z-index: 99;
    transform: translate(-10%) rotate(-1deg);
}

.Project:nth-child(2):hover{
    z-index: 101;
}

.Project:nth-child(3) {
    background-color: yellow;
    top: -200%;
    z-index: 98;
    transform: translate(10%)rotate(2deg);
}

.Project:nth-child(3):hover{
    z-index: 101;
}

.Project:nth-child(4) {
    background-color: pink;
    top: -300%;
    z-index: 97;
    transform: translate(-6%, -3%) rotate(-3deg);
}

.Project:nth-child(4):hover{
    z-index: 101;
}


.pythonProject {
    height: 20rem;
    width: 15rem;
    background-color: blue;
    border-radius: 2rem;
    display: block;
    transition: 1s;
}

.pythonProject:hover {
    background-color: orange;
    margin: 0 10rem 0 10rem;
}

.pythonProject:hover > .ProjectX:nth-child(2) {
    transform: translate(-60%, -20%) rotate(-20deg);
}
.pythonProject:hover > .ProjectX:nth-child(3) {
    transform: translate(0%, -50%);
}
.pythonProject:hover > .ProjectX:nth-child(4) {
    transform: translate(60%) rotate(25deg);
}

.ProjectX {
    height: 20rem;
    width: 15rem;
    position: relative;
    transition: transform .75s;
    border-radius: 2rem;
}

.ProjectX:nth-child(1) {
    background-color: aqua;
    z-index: 100;
    transition: 0.75s;
}

.ProjectX:nth-child(2) {
    background-color: greenyellow;
    top: -100%;
    z-index: 99;
    transform: translate(-10%) rotate(-1deg);
}

.ProjectX:nth-child(2):hover{
    z-index: 101;
}

.ProjectX:nth-child(3) {
    background-color: yellow;
    top: -200%;
    z-index: 98;
    transform: translate(10%)rotate(2deg);
}

.ProjectX:nth-child(3):hover{
    z-index: 101;
}

.ProjectX:nth-child(4) {
    background-color: pink;
    top: -300%;
    z-index: 97;
    transform: translate(0%, -6%);
}

.ProjectX:nth-child(4):hover{
    z-index: 101;
}


.javaProject {
    height: 20rem;
    width: 15rem;
    background-color: red;
    border-radius: 2rem;
    display: block;
    transition: 1s;
}

.javaProject:hover {
    background-color: orange;
    margin: 0 5rem 0 5rem;
    transform: translate(-30%);
}

.javaProject:hover > .ProjectY:nth-child(2) {
    transform: translate(30%, -30%) rotate(5deg);
}
.javaProject:hover > .ProjectY:nth-child(3) {
    transform: translate(60%, -20%) rotate(20deg);
}
.javaProject:hover > .ProjectY:nth-child(4) {
    transform: translate(90%) rotate(25deg);
}

.ProjectY {
    height: 20rem;
    width: 15rem;
    position: relative;
    transition: transform .75s;
    border-radius: 2rem;
}

.ProjectY:nth-child(1) {
    background-color: aqua;
    z-index: 100;
    transition: 0.75s;
}

.ProjectY:nth-child(2) {
    background-color: greenyellow;
    top: -100%;
    z-index: 99;
    transform: translate(-10%) rotate(-1deg);
}

.ProjectY:nth-child(2):hover{
    z-index: 101;
}

.ProjectY:nth-child(3) {
    background-color: yellow;
    top: -200%;
    z-index: 98;
    transform: translate(10%)rotate(2deg);
}

.ProjectY:nth-child(3):hover{
    z-index: 101;
}

.ProjectY:nth-child(4) {
    background-color: pink;
    top: -300%;
    z-index: 97;
    transform: translate(0%, -6%);
}

.ProjectY:nth-child(4):hover{
    z-index: 101;
}




.contactPage {
    height: 100vh;
    padding-top: 15rem;
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.leftBox {
    width: 20rem;
    height: 25rem;
    background-color: #F95454;
    transform: translate(25%);
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactMe {
    background-color: #F95454;
    color: white;
    position: relative;
    padding: 3rem;
    font-size: 2rem;
}

.contactLinks {
    background-color: #F95454;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.contactLinks i {
    background-color: #F95454;
    font-size: 2rem;
}

.contactLinks a {
    background-color: #F95454;
    text-decoration: none;
    color: white;
}

.rightBox {
    width: 45rem;
    height: 35rem;
    background-color: antiquewhite;
    transform: translate(-20%);
    z-index: 99;
    
}


















@media (max-width: 1300px) {

    .mainProjects {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12rem;
        height: 180vh;
    }

    .imageGroup {
        grid-template-columns: auto auto;
        row-gap: 1rem;
    }
}


@media (max-width: 1000px) {


    .mainBg {
        height: 80vh;
        background-color: #0A152B;
        color: white;
        margin-top: 5rem;
        margin-left: 4rem;
    }

    .title {
        font-size: 4rem;
        line-height: 6rem;
    }

    .titleDesc {
        font-size: 1.5rem;
        width: 90%;
    }

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 45%;

        flex-direction: column;
        padding: min(20vh, 15rem) 3em;

        background: #0d1d3690;
        backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform .9s;

        z-index: 9998;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        position: absolute;
        z-index: 9999;
        border: 0;
        background: transparent;

        font-size: 2rem;
        top: 1rem;
        right: 1.5rem;
        display: block;
        color: white;
    }
}