* {
    margin: 0;
    font-family: "josefin Sans";
    scroll-behavior: smooth;
    background-color: #2b323c;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.navBar {
    position: sticky;
    top: 85vh;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    font-size: 30px;
    z-index: 10;
    background-color: transparent;
}

.navBar ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    list-style: none;
    padding: 20px 0px 0px 0px;
    border: 2px solid red;
    border-radius: 20px;
}

.navBar a {
    color: white;
}

.name {
    height: 100vh;
    position: relative;
    top: -156px;
}

.name h1 {
    position: relative;
    top: 40%;
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-align: center;
    line-height: 70px;
    color: #FF3131;
}

.name h3 {
    position: relative;
    top: 42%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    color: white;
}

.name h4 {
    position: relative;
    top: 38%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.contactIcons {
    position: relative;
    top: 47%;
    left: 25%;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    width: 50%;
    font-size: 40px;
}

.contactIcons i {
    color: red;
}

.contactIcons i:hover {
    opacity: 80%;
    cursor: pointer;
}

.about {
    display: flex;
    border: 5px solid blue;
    color: white;
    height: 100vh;
    justify-content: center;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.aboutSection h1::after {
    content: "";
    display: block;
    position: relative;
    top: 30px;
    width: 200px;
    height: 3px;
    margin-left: 20px;
    background-color: red;
}
.aboutSection h1::before {
    content: "";
    display: block;
    position: relative;
    top: 30px;
    width: 200px;
    height: 3px;
    margin-right: 20px;
    background-color: red;
}

.aboutSection h1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 60px;
}

.aboutContent {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    position: relative;
    top: 15%;
    font-size: 40px;
}

.experience, .languages, .education {
    border: 2px solid pink;
    border-radius: 20px;
    overflow: hidden;
    height: 60px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 0px 20px;
}

.experienceTopContainer {
    display: flex;
    justify-content: space-between;
}

.experience p {
    padding-top: 35px;
    font-size: 25px;
}

.btn {
    border-radius: 10px;
    height: 30px;
    border: 2px solid white;
    margin-right: 10px;
    color: white;
    transition: 1s;
}

.btn:hover {
    cursor: pointer;
    border: 2px solid red;
}

.projects {
    display: flex;
    justify-content: center;
    border: 5px solid blue;
    height: 100vh;
    font-size: 5vw;
}

/* ▹▹▹▹▹▹▹▹▹▹▹▹▹ */